<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-aut">
      <!-- 店舗について -->
      <h1 style="text-center">About</h1>
      <!-- 詳細 -->
      <p style="text-center">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br>
        様々なバリエーションをご⽤意しております。<br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注⽂いただけます。<br>
        ぜひご注⽂ください。<br>
      </p>
      <img src="/assets/images/about.jpg">
    </div>
  </div>
</div>